.app-estilo-vida{

    margin-left: 20px;
    margin-bottom: 50px;
   


    .border-linea{
        border: 2px solid var(--faden-morado);
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-top: 10px;
        padding-bottom: 10px; 
        }
    


    #txtHoras{
        margin-left: 5px;
    }


    #tbl, #tbl2{
        margin-top: 10px;
        padding: 10px;
   

        tr, td{
            padding: 0;
            overflow: hidden;
        }

        th
        {
            border: 1px solid black;
        }
   
        tr td:last-child, th:last-child
        {
           padding: 0;
           border-left: 1px;
           border-color: black;
           border-style: solid;
        }



        td, th{
            color: black;
           font-weight: bold;
           border: 1px solid black;
           padding-left: 10px;
        }

  

        input{
            width: 100%;
            padding: 0;
            margin: 0;
            text-align: center; 
        }

        input:disabled{
            background-color: gray;
        }
        
    }


    #tbl2{
        tr td:nth-child(2)
        {
           padding: 0;
          
        }
        

        .txt
        {
            text-align: left; 
          
        }
    }


    .contenedor{
        text-align: right;
        margin-top: 20px;
    }


   
}