
#frmError{
    max-width: 400px;
    padding: 5px;
    box-shadow: 3px 4px 14px 6px rgba(0, 0, 0, 0.76);
}

.msj{

    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;

}

.error,
.bold{
    font-weight: bold;
    color: black,
}



.logo{
    display: flex;
    justify-content:center;
    width: 100%;
}

img{
   
    width:180px;
    height:120px;
}