<div class="row" id="contenedor-agregar">
    <button class="btn btn-primario" (click)="f_Agregar_Fila();">Agregar</button>
</div>

<div class="row">


    <table class="table table-hover table-bordered table-sm">



        <tbody>
            <tr *ngFor="let det of dataSource" class="row mb-3">

                <div class="linea">

                    <div class="row">
                        <td class="col-md-12 col-lg-6 mb-1">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                                        [(ngModel)]="det.NombreCompleto">
                                    <label>Nombre</label>
                                </div>
    
                            </div>
                        </td>
                        <td class="col-md-12 col-lg-6 mb-1">

                            <div class="row">

                                <span class="col-6 col-md-6 col-lg-3">

                

                                    <mat-checkbox [ngModel]="det.EsAcpte"
                                    (click)="v_Seleccionar($event, det.IdAcpte, 'A')">Acompañante?
                                    </mat-checkbox>

                                </span>
    
                                <span class="col-6 col-md-6 col-lg-3">
                                    <mat-checkbox [ngModel]="det.EsCuidador"
                                    (click)="v_Seleccionar($event, det.IdAcpte, 'C')">Cuidador?
                                    </mat-checkbox>

                        
                                </span>
                               
                                <span class="col-6 col-md-6 col-lg-3">

                                    <mat-checkbox [ngModel]="det.EsPrimario"
                                    (click)="v_Seleccionar($event, det.IdAcpte, 'P')">Primario?
                                    </mat-checkbox>
                                </span>
                               
                                <span class="col-6 col-md-6 col-lg-3">

                                    <mat-checkbox [ngModel]="det.EsSecundario"
                                    (click)="v_Seleccionar($event, det.IdAcpte, 'S')">Secundario?
                                    </mat-checkbox>

                
                                </span>
                          
                            </div>


                           
                               
                        </td>

            
                    </div>
                    <div class="row">
                        
                     
                    </div>
                   
                    <div class="row">

                      
                        <div class="col-md-12 col-lg-6">

                            <div class="row">
                                <td>
                                    <div class="input-group mb-1">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono"
                                                [(ngModel)]="det.Telefono">
                                            <label>Telefono</label>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="input-group mb-1">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" placeholder="Correo" aria-label="Correo"
                                                [(ngModel)]="det.Correo">
                                            <label>Correo</label>
                                        </div>
                                    </div>
                                </td>
                            </div>

                          
        
                      
                        </div>
                        
                        <div class="col-md-12 col-lg-6 mb-1">
                            <td class="dir">
                                <div class="input-group">
                                    <div class="form-floating">
                                        <textarea type="text" class="form-control" placeholder="Direccion"
                                            aria-label="Direccion" rows="5" cols="17"  [(ngModel)]="det.Direccion"></textarea>
                                        <label>Direccion</label>
                                    </div>
                                </div>
                            </td>
                        </div>
                        

                    </div>
    
    
                  

                </div>

              


           

            </tr>

           

        </tbody>
    </table>


</div>