<div class="app-dialogo">
    <div id="msj" class="container faden-dialog-container">
        <img  src="../assets/images/logo-header.png" alt="" width="300px" height="95px">
        <h1  class="faden-dialog-title">{{str_Titulo}}</h1>
        <div class="faden-dialog-content">
            <div class="faden-dialog-caption"><p><b>{{str_Caption}}<span style="color: red;">{{str_Error}}</span></b></p></div>
            <div class="faden-dialog-msj" [innerHTML]="str_Mensaje"></div>
        </div>
        
        <div class="text-end dialog-actions">
            <button type="button" class="btn btn-outline-secondary faden-dialog-btn-a" (click)="Cerrar()">Aceptar</button>
        </div>
    </div>
</div>
