<div class="container-sm">


    <form autocomplete="off" [formGroup]="val.ValForm">


        <div class="row mb-1">
            <igx-combo #cmbPaciente [data]="lstPaciente" valueKey="NoExpediente" displayKey="NombreCompleto"
                id="cmbPaciente" formControlName="cmbPaciente" placeholder="Paciente"
                searchPlaceholder="Seleccione un paciente" [autoFocusSearch]="true" [overlaySettings]="overlaySettings"
                (selectionChanging)="v_Select_Paciente($event)" (keyup)="v_Enter_Paciente($event);">
                <label igxLabel>Paciente</label>
                <igx-prefix><i class="fa-solid fa-list fa-lg"></i></igx-prefix>
            </igx-combo>
        </div>

        <div class="row">

            <div class="col-6 col-md-6 col-lg-6 mb-1">
                <igx-combo #cmbMedico [data]="lstMedico" valueKey="NoMedico" displayKey="NombreCompleto"
                    id="cmbPaciente" formControlName="cmbMedico" placeholder="Medico"
                    searchPlaceholder="Seleccione un medico" [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Medico($event)"
                    (keyup)="v_Enter_Medico($event);">
                    <label igxLabel>Medico</label>
                    <igx-prefix><i class="fa-solid fa-list fa-lg"></i></igx-prefix>
                </igx-combo>
            </div>

            <div class="col-6 col-md-6 col-lg-6 mb-1">
                <div class="input-group">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Especialidad" id="txtEspecialidad"
                            formControlName="txtEspecialidad">
                        <label for="txtEspecialidad">Especialidad</label>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-3 mb-1">
                <mat-form-field appearance="legacy">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="dp" id="txtFecha" formControlName="txtFecha">
                    <mat-datepicker-toggle matSuffix [for]="dp">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #dp>
                    </mat-datepicker>

                </mat-form-field>
            </div>


            <div class="col-6 col-md-6 col-lg-3  mb-1">
                          
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-regular fa-clock fa-xl"></i></span>
                    <div class="form-floating">
                        <select class="form-select form-select-lg" aria-label="Hora Inicio" id="txtHora1"
                            formControlName="txtHora1">
                            <option  value="8">8 am</option>
                            <option  value="9">9 am</option>
                            <option  value="10">10 am</option>
                            <option  value="11">11 am</option>
                            <option  value="12">12 am</option>
                        </select>
                        <label for="txtHora1">Hora Inicio</label>
                    </div>
                </div>
            </div>

            
            <div class="col-6 col-md-6 col-lg-3  mb-1">
                          
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-regular fa-clock fa-xl"></i></span>
                    <div class="form-floating">
                        <select class="form-select form-select-lg" aria-label="Hora Inicio" id="txtHora2"
                            formControlName="txtHora2">
                            <option  value="8">8 am</option>
                            <option  value="9">9 am</option>
                            <option  value="10">10 am</option>
                            <option  value="11">11 am</option>
                            <option  value="12">12 am</option>
                        </select>
                        <label for="txtHora2">Hora Fin</label>
                    </div>
                </div>
            </div>


        </div>


        <div class="row mb-1">

            <div class="observaciones">
                <div class="form-floating">
                    <textarea type="textarea" class="form-control" placeholder="Observaciones"
                        id="txtObservaciones" formControlName="txtObservaciones"></textarea>
                    <label for="txtObservaciones">Observaciones</label>
                </div>
            </div>
        </div>

        
        <div class="botones-edicion">
            <button type="button"  class="btn btn-primario" id="btnGuardar-Cita" (click)="v_Guardar();"><i
                    class="fa-solid fa-floppy-disk fa-beat-fade fa-lg"></i>
                Guardar</button>
        </div>

    </form>



</div>