<div class="container-sm">

    <div class="faden-dialog">
        <div class="btn-contenedor-custom">
            <button class="close-button custom-cerrar" [mat-dialog-close]="true">
                <mat-icon class="close-icon" color="warn">close</mat-icon>
            </button>
        </div>
    </div>


    <form autocomplete="off" [formGroup]="val.ValForm">


        <div class="row mb-1">
            <div class="col-12">
                <igx-combo #cmbPaciente [data]="lstPaciente" valueKey="IdPaciente" displayKey="NombreCompleto"
                id="cmbPaciente" formControlName="cmbPaciente" placeholder="Paciente"
                searchPlaceholder="Seleccione un paciente" [autoFocusSearch]="true" [overlaySettings]="overlaySettings"
                (selectionChanging)="v_Select_Paciente($event)" (keyup)="v_Enter_Paciente($event);">
                <label igxLabel>Paciente</label>
                <igx-prefix><i class="fa-solid fa-list fa-lg"></i></igx-prefix>
            </igx-combo>
            </div>
           
        </div>

        <div class="row">

            <div class="col-12 mb-1">
                <igx-combo #cmbMedico [data]="lstMedico" valueKey="IdMedico" displayKey="NombreCompleto"
                    id="IdMedico" formControlName="cmbMedico" placeholder="Medico"
                    searchPlaceholder="Seleccione un medico" [autoFocusSearch]="true"
                    [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Medico($event)"
                    (keyup)="v_Enter_Medico($event);">
                    <label igxLabel>Medico</label>
                    <igx-prefix><i class="fa-solid fa-list fa-lg"></i></igx-prefix>
                </igx-combo>
            </div>

        </div>


        <div class="row">

            <div class="col-12 mb-1">
                <div class="input-group">
                    <div class="form-floating">
                        <input type="text" class="form-control" placeholder="Especialidad" id="txtEspecialidad"
                            formControlName="txtEspecialidad">
                        <label for="txtEspecialidad">Especialidad</label>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">

            <div class="col-12  mb-1">
                <mat-form-field appearance="legacy">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" id="txtFecha" formControlName="txtFecha">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>


        </div>

        <div class="row">

   

            <div class="col-6  mb-1">
                          
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-regular fa-clock fa-xl"></i></span>
                    <div class="form-floating">
                        <select class="form-select form-select-lg" aria-label="Hora Inicio" id="txtHora1"
                            formControlName="txtHora1">
                            <option  value="8 am">8 am</option>
                            <option  value="9 am">9 am</option>
                            <option  value="10 am">10 am</option>
                            <option  value="11 am">11 am</option>
                            <option  value="12 md">12 md</option>
                            <option  value="12 md">1 pm</option>
                            <option  value="12 md">2 pm</option>
                            <option  value="12 md">3 pm</option>
                            <option  value="12 md">4 pm</option>
                            <option  value="12 md">5 pm</option>
                        </select>
                        <label for="txtHora1">Hora Inicio</label>
                    </div>
                </div>
            </div>

            
            <div class="col-6   mb-1">
                          
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-regular fa-clock fa-xl"></i></span>
                    <div class="form-floating">
                        <select class="form-select form-select-lg" aria-label="Hora Inicio" id="txtHora2"
                            formControlName="txtHora2">
                            <option  value="8 am">8 am</option>
                            <option  value="9 am">9 am</option>
                            <option  value="10 am">10 am</option>
                            <option  value="11 am">11 am</option>
                            <option  value="12 md">12 md</option>
                            <option  value="12 md">1 pm</option>
                            <option  value="12 md">2 pm</option>
                            <option  value="12 md">3 pm</option>
                            <option  value="12 md">4 pm</option>
                            <option  value="12 md">5 pm</option>
                        </select>
                        <label for="txtHora2">Hora Fin</label>
                    </div>
                </div>
            </div>


        </div>


        <div class="row mb-1">

            <div class="observaciones">
                <div class="form-floating">
                    <textarea type="textarea" class="form-control" placeholder="Observaciones"
                        id="txtObservaciones" formControlName="txtObservaciones"></textarea>
                    <label for="txtObservaciones">Observaciones</label>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="botones-edicion">
                <button type="button"  class="btn btn-primario" id="btnGuardar-Cita" (click)="v_Guardar();"><i
                        class="fa-solid fa-floppy-disk fa-beat-fade fa-lg"></i>
                    Guardar</button>
    
                    
                    <button type="button" class="btn btn-secundario" id="btnCanclar-Cita" (click)="v_Evento('Limpiar');"
                        ><i class="fa-solid fa-arrow-left fa-beat fa-lg"></i> Cancelar</button>
            </div>
        </div>
        
      

    </form>



</div>