<div class="app-departamento-registro">
    <div class="faden-container-table">

        <div class="mat-elevation-z8 faden-tabla">
            <table mat-table class="faden-tabla" [dataSource]="dataSource" matSort
            (matSortChange)="announceSort($event)">

            <ng-container matColumnDef="IdDepartamento" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by No"> No </th>
                <td mat-cell *matCellDef="let element; let j=index" 
                    style="color:#1b364c; font-weight: bold;">{{j+1}}</td>
            </ng-container>

            <ng-container matColumnDef="Departamento" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Departamento">Departamento</th>
                <td mat-cell *matCellDef="let element">{{element.Departamento}}</td>
            </ng-container>


            <ng-container matColumnDef="Accion">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" (click)="EditarDepartamento(element)"><i class="bi bi-pencil-square" style="font-size: 2.5em;"></i></a>
                                
                        </div>
                        <div class="col-6">
                            <a href="#" (click)="EliminarDepartamento(element)"><i class="bi bi-trash3" style="font-size: 2.5em;"></i></a>
                        </div>
                    </div>
                
                
                </td>
            </ng-container>

    

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)"
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>

        </div>

    </div>
</div>