
<mat-tab-group dynamicHeight>
    <mat-tab label="Paciente" >
      <app-paciente></app-paciente>
    </mat-tab>
    <mat-tab label="Historial Médico" [disabled]="bol_Disable" #ViewHistorial>
      <app-historiamedica></app-historiamedica>
    </mat-tab>

    <mat-tab label="Valoración Neuropsicológica" [disabled]="bol_Disable" #ViewValoracion>
      <app-valoracion-neuropsicologica></app-valoracion-neuropsicologica>
    </mat-tab>

    <mat-tab label="Consenso Médico" [disabled]="bol_Disable" #ViewConsenso>
        <app-consensomedico></app-consensomedico>
      </mat-tab>
  </mat-tab-group>