<div class="faden-contenedor">
    <div id="registros-tabla">
        <div class="formulario">

            <div class="row col-12 no-pading-margin">
                <div class="col-12 btnAccion">
                    <button mat-fab class="btn-faden-aceptar"> <mat-icon>edit</mat-icon></button>
                    <div class="line-vertical"></div>
                    <button mat-fab class="btn-faden-salir"><mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>
            </div>

            <div class="faden-contenedor-tabla">
                <div class="faden-tabla-franja">REGISTROS</div>

                <div class="faden-tabla-filtro">
                    <div class="row col-12 no-pading-margin">
                        <mat-form-field>
                            <mat-label>Buscar</mat-label>
                            <input appAutofocus matInput>
                        </mat-form-field>

                    </div>

                </div>

            </div>



        </div>

    </div>

</div>
