<div class="app-departamento">
    <div class="faden-mat-form">

        <div class="centrado">
            <div id="frmDepartamento">

                <form class="formulario" [formGroup]="val.ValForm" novalidate autocomplete="off">
                    <div class="row">

                        <div class="row">

                            <div class="btnAccion">

                                <div class="btn-contenedor">
                                    
                                    <div class="line-vertical"></div>
                                    <button mat-fab class="btn-faden-aceptar" (click)="v_Guardar();" id="btn-guardar-departamento">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button mat-fab class="btn-faden-cancelar" >
                                        <mat-icon>undo</mat-icon>
                                    </button>
                                    <div class="line-vertical"></div>
                                    <button mat-fab class="btn-faden-salir" (click)="Cerrar();">
                                        <mat-icon>exit_to_app</mat-icon>
                                    </button>

                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <mat-card>
                                        <mat-card-header>
                                            <mat-card-title class="mat-card-title">Departamento</mat-card-title>
                                        </mat-card-header>
    
                                        <mat-card-content >
                                            <div class="row">
                                                <mat-form-field class="col-3">
                                                    <mat-label>Código</mat-label>
                                                    <input matInput type="text" id="txtCodigo" formControlName="txtCodigo">
                                                    <mat-error *ngIf="val.ValForm.get('txtCodigo')?.errors?.['Regla']=='1'">
                                                        Código es <strong>Requerido</strong></mat-error>
                                                    <mat-error *ngIf="val.ValForm.get('txtCodigo')?.errors?.['Regla']=='2'">
                                                        Código deber tener máximo <strong>4</strong> caracteres</mat-error>        
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="col-12">
                                                <mat-form-field >
                                                    <mat-label>Departamento</mat-label>
                                                    <input matInput type="text" id="txtDepartamento"
                                                        formControlName="txtDepartamento">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtDepartamento')?.errors?.['Regla']=='1'">
                                                        El nombre es <strong>Requerido</strong></mat-error>
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtDepartamento')?.errors?.['Regla']=='2'">
                                                        El nombre deber tener máximo <strong>50</strong> caracteres</mat-error>
                                                </mat-form-field>
                                            </div>
                                                  
                                        </mat-card-content>
    
                                    </mat-card>

                                </div>
                                
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>

       
    </div>
</div>