<div class="app-paciente">
    <div class="faden-mat-form">
        <div class="faden-contener">
            <div id="frmPaciente">

                <form class="formulario" [formGroup]="val.ValForm" novalidate autocomplete="off">
                    <div class="row ">
    
                        <div class="row">
                            <div class="col-12 btnAccion">
                                <div class="btn-contenedor">
                                    <button mat-fab class="btn-faden-aceptar" (click)="Guardar();">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button mat-fab class="btn-faden-cancelar" (click)="limpiar();">
                                        <mat-icon>undo</mat-icon>
                                    </button>
                                    <div class="line-vertical"></div>
                                    <button mat-fab class="btn-faden-salir" (click)="Cerrar();">
                                        <mat-icon>exit_to_app</mat-icon>
                                    </button>
    
                                </div>
                            </div>
    
                            <div class="row">
                                <mat-card class="mat-card">
                                    <mat-card-header>
                                        <mat-card-title class="mat-card-title">Paciente</mat-card-title>
                                    </mat-card-header>
    
                                    <mat-card-content>
    
                                        <div class="row mb-3">
                                            <div class="col-12 col-sm-12 col-md-2 col-lg-4">

                                                <div class="input-group">
                                
                                                                
                                                    <div class="form-floating">
                                                        <input type="text" id="txtNoExpediente" class="form-control"
                                                            placeholder="No Expediente" aria-label="Direccion" formControlName="txtNoExpediente">
                                                        <label for="txtNoExpediente">No de Expediente</label>
            
                                                    </div>
            
                                                    <span class="input-group-text"><button type="button" class="btn i-boton">
                                                        <i class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg"
                                                        (click)="AbriRegistroPaciente();" ></i>
                                                       
                                                       </button></span>
            
                                                </div>
                                                
                                             
    
                                            </div>

                                   
                                            <div
                                                class="col-6 col-sm-3 col-md-3 col-lg-2 offset-sm-6 offset-md-6 offset-md-6">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Fecha</mat-label>
                                                    <input matInput [matDatepicker]="picker" id="txtFecha" formControlName="txtFecha">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                    <mat-error
                                                            *ngIf="val.ValForm.get('txtFecha')?.errors?.['Regla']=='1'"
                                                            style="color:black">Seleccione una<strong> Fecha </strong>
                                                        </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
    
    
    
                                        <div class="row">
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Primer Nombre <b style="color: red;">*</b> </mat-label>
                                                    <input matInput type="text" id="txtPrimerNombre" formControlName="txtPrimerNombre">
                                                    <mat-error
                                                            *ngIf="val.ValForm.get('txtPrimerNombre')?.errors?.['Regla']=='1'"
                                                            style="color:black">Escriba el primer <strong> Nombre </strong>
                                                        </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Segundo Nombre </mat-label>
                                                    <input matInput type="text" id="txtSegundoNombre" formControlName="txtSegundoNombre">
                                                    <mat-error *ngIf="val.ValForm.get('txtSegundoNombre')?.errors?.['Regla']=='1'" style="color:black">Escriba el
                                                        segundo <strong> Nombre </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Primer Apellido </mat-label>
                                                    <input matInput type="text" id="txtPrimerApellido" formControlName="txtPrimerApellido">
                                                    <mat-error
                                                            *ngIf="val.ValForm.get('txtPrimerApellido')?.errors?.['Regla']=='1'"
                                                            style="color:black">Escriba el primer <strong> Apellido </strong>
                                                        </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Segundo Apellido </mat-label>
                                                    <input matInput type="text" id="txtSegundoApellido" formControlName="txtSegundoApellido">
                                                    <mat-error
                                                            *ngIf="val.ValForm.get('txtSegundoApellido')?.errors?.['Regla']=='1'"
                                                            style="color:black">Escriba el segundo <strong> Apellido </strong>
                                                        </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
    
    
                                        <div class="row">
    
                                            <div class="col-12">
                                                <label class="col-3 col-sm-1 col-md-1 col-lg-1"><b>Género:</b></label>
                                                <mat-radio-group aria-label="Seleccione género"
                                                    class="col-9 col-sm-11 col-md-11 col-lg-11"
                                                    formControlName="rdSexo">
                                                    <mat-radio-button value="M">Masculino</mat-radio-button>
                                                    <mat-radio-button value="F">Femenino</mat-radio-button>
                                                </mat-radio-group>
    
                                            </div>
    
                                        </div>
    
                                        <div class="row">
    
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                <igx-combo #txtMunicipio  valueKey="IdLugarNac"
                                                    displayKey="Municipio" groupKey="Departamento" id="txtMunicipio" formControlName="txtMunicipio"
                                                    placeholder="Lugar de Nacimiento"
                                                    searchPlaceholder="Seleccione una Ciudad"
                                                     [itemsMaxHeight]="250" (selectionChanging)="seleccion_Ciudad($event)"
                                                     (keyup)="f_key_Enter_Ciudad($event)">                                                    
                                                </igx-combo>
                                            </div>

                                            
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Fecha de Nacimiento</mat-label>
                                                    <input matInput #refFecha [matDatepicker]="pickerNacimiento"
                                                        id="txtFechaNacimiento" formControlName="txtFechaNacimiento"  (dateChange)="CalcularEdad(refFecha.value);">
                                                    <mat-datepicker-toggle matSuffix [for]="pickerNacimiento">
                                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #pickerNacimiento></mat-datepicker>
                                                </mat-form-field>    
                                            </div>
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Edad</mat-label>
                                                    <input matInput type="text" id="txtEdad" formControlName="txtEdad">
                                                </mat-form-field>
                                            </div>
                                        </div>
    
    
                                        <div class="row">
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Ocupación</mat-label>
                                                    <input matInput type="text" id="txtOcupacion" formControlName="txtOcupacion">
                                                    <mat-error
                                                    *ngIf="val.ValForm.get('txtOcupacion')?.errors?.['Regla']=='1'"
                                                    style="color:black">Digite su <strong> Ocupación </strong>
                                                </mat-error>  
                                                </mat-form-field>
                                            </div>
    
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>No de Cédula </mat-label>
                                                    <input matInput type="text" id="txtCedula" formControlName="txtCedula">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtCedula')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su número de <strong> Cedula </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
    
    
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                <igx-combo #txtEscolaridad [data]="lstEscolaridad" valueKey="IdEscolaridad"
                                                    displayKey="Nombre" id="txtEscolaridad" placeholder="Escolaridad"
                                                    formControlName="txtEscolaridad"
                                                    searchPlaceholder="Seleccione una Opción"
                                                    (selectionChanging)="Seleccion_Escolaridad($event)" [itemsMaxHeight]="250"
                                                    (keyup)="f_key_Enter_Escolaridad($event)">
                                                </igx-combo>
                                            </div>
    
                                        </div>
    
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                <mat-form-field>
                                                    <mat-label>Estado Civil</mat-label>
                                                    <input matInput type="text" id="txtEstadoCivil"  formControlName="txtEstadoCivil">
                                                    <mat-error
                                                    *ngIf="val.ValForm.get('txtEstadoCivil')?.errors?.['Regla']=='1'"
                                                    style="color:black">Escriba su <strong> Estado Civil </strong>
                                                </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                <mat-form-field>
                                                    <mat-label>Dirección</mat-label>
                                                    <input matInput type="text" id="txtDireccion" formControlName="txtDireccion">
                                                    <mat-error
                                                    *ngIf="val.ValForm.get('txtDireccion')?.errors?.['Regla']=='1'"
                                                    style="color:black">Escriba su <strong> Dirección </strong>
                                                </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                        </div>
    
                                        <div class="row">
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Teléfono </mat-label>
                                                    <input matInput type="text" id="txtTelefono" formControlName="txtTelefono">
                                                    <mat-error
                                                    *ngIf="val.ValForm.get('txtTelefono')?.errors?.['Regla']=='1'"
                                                    style="color:black">Escriba su <strong> Teléfono </strong>
                                                </mat-error> 
                                                </mat-form-field>
                                            </div>
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Celular </mat-label>
                                                    <input matInput type="text" id="txtCelular" formControlName="txtCelular">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtCelular')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su <strong> Celular </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Correo</mat-label>
                                                    <input matInput type="text" id="txtCorreo" formControlName="txtCorreo">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtCorreo')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su <strong> Correo Electrónico </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
    
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Religión</mat-label>
                                                    <input matInput type="text" id="txtReligion" formControlName="txtReligion">
                                                    <mat-error
                                                    *ngIf="val.ValForm.get('txtReligion')?.errors?.['Regla']=='1'"
                                                    style="color:black">Indique su <strong> Religión </strong>
                                                </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
    
                                        <div class="row border-paciente">
                                            <label><b>¿Con quién vive en su casa?</b> </label>
                                            <div>
                                                <section>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"
                                                    formControlName="chkSolo">Sol@
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"
                                                    formControlName="chkHijo">Hij@
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"
                                                    formControlName="chkNieto">Nietos
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"
                                                    formControlName="chkPareja">Espos@
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"
                                                    formControlName="chkHermano">Herman@
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"
                                                    formControlName="chkAmigo">Amig@
                                                    </mat-checkbox>
                                                </section>
                                            </div>
                                        </div>
    
                                        <div class="row  border-paciente">
                                            <label><b>Visita</b> </label>
                                            <div>
                                                <section>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"  
                                                    formControlName="chkEsp">Espontáneo
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"  
                                                    formControlName="chkRef">Referido
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"  
                                                    formControlName="chkReco">Recomendado
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2"  
                                                    formControlName="chkMedios">Por Medios Sociales
                                                    </mat-checkbox>
                                                </section>
                                            </div>
                                        </div>
    
                                        <div class="row  border-paciente">
                                            <label><b>¿Cómo sabe de FADEN?</b></label>
                                            <div>
                                                <section>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2" 
                                                    formControlName="chkFB">Facebook
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2" 
                                                    formControlName="chkInst">Instragram
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2" 
                                                    formControlName="chkTwi">Twitter
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-6 col-lg-6" 
                                                    formControlName="chkTransf">Transferido
                                                    </mat-checkbox>
                                                    <mat-checkbox class="col-6 col-sm-4 col-md-2 col-lg-2" 
                                                    formControlName="chkOtros" (change)="f_RefOtros()">Otros,
                                                        especifíque</mat-checkbox>
                                                    <mat-form-field class="col-12 col-sm-3 col-md-3 col-lg-3" floatLabel="never">
                                                        <input matInput type="text" formControlName="txtRefOtros">
                                                    </mat-form-field>
    
                                                </section>
                                            </div>
                                        </div>
    
    
                                        <div class="border-paciente" id="antecendentes-laborales">
    
                                            <div class="row"><label><b>Antecedentes laborales</b></label></div>
    
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                                                    <mat-checkbox formControlName="chkTrabAct" (change)="f_RefTrab()">Trabaja Actualmente</mat-checkbox>
                                                </div>
    
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-9 offset-md-1 offset-lg-1">
                                                    <mat-form-field>
                                                        <mat-label>¿En qué trabaja?</mat-label>
                                                        <input matInput type="text" formControlName="txtRefTrab">
                                                    </mat-form-field>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                                                    <mat-checkbox formControlName="chkUltTrab" (change)="f_UltimoTrab()">Último trabajo</mat-checkbox>
                                                </div>
    
                                                <div class="col-12 col-sm-12 col-md-8 col-lg-9 offset-md-1 offset-lg-1">
                                                    <mat-form-field>
                                                        <mat-label>¿Cúal fue?</mat-label>
                                                        <input matInput type="text" formControlName="txtRefUltTrab">
                                                    </mat-form-field>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                                                    <mat-checkbox formControlName="chkjubilado">Es Jubilado</mat-checkbox>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-3 col-lg-2">
                                                    <mat-checkbox formControlName="chkpension">Recibe Pensión</mat-checkbox>
                                                </div>
                                            </div>
    
                                        </div>
    
                                        <div>
                                            <div class="row"><label><b>Sobre el Acompañante</b></label></div>
    
                                            <app-acompanante #Acompanante ></app-acompanante>
                                        </div>
    
                                    </mat-card-content>
                                </mat-card>
                            </div>
    
                        </div>
    
                    </div>
    
                </form>
            </div>

        </div>
    </div>
</div>