<div id="contenedor-agregar">
    <div>
        <button (click)="f_Agregar_Fila();">Agregar</button>
    </div>
</div>
<div class="mat-elevation-z8-faden-tabla">
    <table mat-table class="faden-tabla" [dataSource]="dataSource" matSort (matSortChange)="announceSort($event)">
        <ng-container matColumnDef="IdAntecedente">
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let element; let j =index" style="color:#1b364c; font-weight: bold;"> {{j+1}} </td>
        </ng-container>

        
        <ng-container matColumnDef="TipoAntecedente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by TipoAntecedente">
                Tipo de Antecedente</th>
            <td mat-cell *matCellDef="let element"> {{element.TipoAntecedente}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Descripcion">
               Descripción</th>
            <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons> </mat-paginator>
</div>
