.app-registros-medicos {

    a{
        text-decoration: none;
        color: black;
    }

    .faden-container-table {
        table {
            width: 100%;
        
            & .mat-column {
                
                &-IdMedico{
                
                }

                &-IdMedico{
                
                }
            }
        }


    }

}