<div class="app-roles">
  <div class="faden-mat-form">
    <div class="faden-contenedor">
      <div id="frmRoles">

        <form class="formulario" [formGroup]="val.ValForm" novalidate autocomplete="off">

          <div class="row">

            <div class="row">
              <div class="col-12 btnAccion">
                <div class="btn-contenedor">

                  <button mat-fab class="btn-faden-buscar" (click)="modal1.show();">
                    <mat-icon>search</mat-icon>
                  </button>
                  <div class="line-vertical"></div>
                  <button mat-fab class="btn-faden-aceptar" (click)="Guardar();" [disabled]="bol_Guardando">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-fab class="btn-faden-cancelar">
                    <mat-icon>undo</mat-icon>
                  </button>
                  <div class="line-vertical"></div>
                  <button mat-fab class="btn-faden-salir" (click)="Cerrar();">
                    <mat-icon>exit_to_app</mat-icon>
                  </button>
                </div>

              </div>
            </div>



            <div class="col-12">
              <mat-card class="mat-card">

                <mat-card-header>
                  <mat-card-title class="mat-card-title">Rol</mat-card-title>
                </mat-card-header>


                <mat-card-content class="row">
                  <mat-form-field class="col-12">
                    <mat-label>Rol.</mat-label>
                    <input matInput type="text" id="txtRol" formControlName="txtRol">
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-error *ngIf="val.ValForm.get('txtRol')?.errors?.['Regla']=='1'">Nombre es 
                      <strong>requerido</strong></mat-error>
                  </mat-form-field>

                </mat-card-content>

              </mat-card>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>





<!--https://github.com/mazdik/ng-modal-->
<app-modal #modal1 class="container row faden-modal" [maximizable]="true" [backdrop]="true">
  <ng-container class="app-modal-header">REGISTROS DE ROLES</ng-container>
  <ng-container class="app-modal-body">
    <app-roles-registro></app-roles-registro>
  </ng-container>
  <ng-container class="app-modal-footer">
    <div class="row col-12">
      <div class="col-12 btnAccion hide-element">
        <button mat-fab class="btn-faden-salir" id="modal-registro-roles" (click)="modal1.hide();">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>

  </ng-container>
</app-modal>