<div class="app-antecedente-neuropsiquiatrico">
    <div class="row" id="contenedor-agregar-neuropsiquiatrico">
        <button class="btn btn-primario" (click)="f_Agregar_Fila();">Agregar</button>
    </div>


    <div class="faden-tabla">
        <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSort($event)">


                <ng-container matColumnDef="col1">

                    <td mat-cell *matCellDef="let det">
                        <div class="row">
                            <div class="col-6">
                                <span> <b>Parentesco:</b></span>
                                <span> {{det.Parentesco}}</span>
                            </div>

                            <div class="col-6 vive">
                                <span> <b>Vive:</b></span>
                                <span> {{det.Vive}}</span>
                            </div>
                        </div>

                        <div class="row Nombre">
                            <span>
                                <span> <b>Nombre:</b></span>
                                <span> {{det.Nombre}}</span>
                            </span>

                        </div>

                        <div class="row">
                            <span>
                                <span> <b>Padece:</b></span>
                                <span> {{det.Padece}}</span>
                            </span>

                        </div>

                        <div class="row">
                            <span class="Enfermedad">
                                <span> <b>Enfermedad:</b></span>
                                <span> {{det.Enfermedad}}</span>
                            </span>

                        </div>

                        <div class="row">
                            <div class="contenedor-edicion">
                                <button type="button" class="btn" (click)="v_Editar(det)"><i
                                        class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                                </button>

                                <button type="button" class="btn" (click)="v_Eliminar(det)"><i
                                        class="bi bi-trash3 fa-beat-fade fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </td>

                </ng-container>





                <ng-container matColumnDef="Accion">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="row">

                            <div class="col-6">
                                <a href="#" (click)="v_Editar(element)"><i class="bi bi-pencil-square"
                                        style="font-size: 2.5em;"></i></a>

                            </div>

                            <div class="col-6">
                                <a href="#" (click)="v_Eliminar(element)"><i class="bi bi-trash3"
                                        style="font-size: 2.5em;"></i></a>
                            </div>
                        </div>

                    </td>
                </ng-container>


                <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)"
                    *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons> </mat-paginator>

        </div>

    </div>

</div>