tr {

  .Nombre, .Enfermedad {

    margin-left: 30px;
  }

  .vive{
    text-align: right;
  }

  b{
    margin-right: 5px;
  }

}



table, .tabla-layout{
  table-layout: fixed;
  width: 100%;
}

.contenedor-edicion{
  text-align: right;
}