<div class="app-tratamiento-actual">
    <div class="row" id="contenedor-agregar-tratamiento">
        <button class="btn btn-primario" (click)="f_Agregar_Fila();">Agregar</button>
    </div>
    
    <div class="row faden-tabla">
        <div class="mat-elevation-z8">
                        
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSort($event)">

          
                <ng-container matColumnDef="col1">
         

                    <td mat-cell *matCellDef="let det">
                       
                        <div class="row">

                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <b>Tratamiento:</b>{{det.Tratamiento}}
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-6">
                                        <b>Fecha:</b>{{det.FechaRegistro | date: 'dd/MM/yyyy'}}
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <span class="Dosis"><b>Dosis:</b>{{det.Dosis}}</span>
                                </div>
                          
                               
                            </div>

                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <span> <b>Medico:</b></span>
                                <span> {{det.Medico}}</span>
                              
                            </div>

                            <div class="col-12 mb-1">
                                <span><b>Tipo</b></span>
                                <span>
                                    <mat-radio-group [value]="det.Tipo"  aria-label="" [disabled]="true">
                                        <mat-radio-button [value]="1">Farmacológico</mat-radio-button>
                                        <mat-radio-button [value]="2">No Farmacológico</mat-radio-button>
                                    </mat-radio-group>  
                                </span>
                            </div>


                            <div class="col-12 mb-1">
                                <div class="contenedor-edicion">
                                    <button type="button" class="btn" (click)="v_Editar(det)"><i
                                            class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                                    </button>
        
                                    <button type="button" class="btn" (click)="v_Eliminar(det)"><i
                                        class="bi bi-trash3 fa-beat-fade fa-lg"></i>
                                </button>
                                </div>
                            </div>

                        </div>
                    </td>
             

             
            
                </ng-container>
    
        

                
   



        
  
        
                <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons> </mat-paginator>
        
        </div>
    </div>
    
</div>

