<div class="app-medicos">
    <div class="faden-mat-form">
        <div class="faden-contener">
            <div id="frmMedicos">

                <form class="formulario" [formGroup]="val.ValForm" novalidate autocomplete="off">
                    <div class="row ">

                        <div class="row ">
                            <div class="col-12 btnAccion">
                                <div class="btn-contenedor">
                                    <button mat-fab class="btn-faden-aceptar" (click)="Guardar();" id="btn-guardar-medico">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button mat-fab class="btn-faden-cancelar" (click)="limpiar();">
                                        <mat-icon>undo</mat-icon>
                                    </button>
                                    <div class="line-vertical"></div>
                                    <button mat-fab class="btn-faden-salir" (click)="Cerrar();">
                                        <mat-icon>exit_to_app</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="col-12">
                                <mat-card class="mat-card">
                                    <mat-card-header>
                                        <mat-card-title class="mat-card-title"> Registro Médicos</mat-card-title>
                                    </mat-card-header>

                                    <mat-card-content>
                                        <div class="row">
                                            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                                                <mat-form-field>
                                                    <mat-label>No Medico</mat-label>
                                                    <input matInput type="text" id="txtNoMedico"
                                                        formControlName="txtNoMedico">
                                                </mat-form-field>
                                            </div>

                                            <div
                                                class="col-6 col-sm-3 col-md-2 col-lg-2 offset-sm-6 offset-md-8 offset-lg-8">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Fecha de ingreso</mat-label>
                                                    <input matInput [matDatepicker]="picker" id="txtFecha"
                                                        formControlName="txtFecha" >
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtFecha')?.errors?.['Regla']=='1'"
                                                        style="color:black">Seleccione una<strong> Fecha </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Primer Nombre </mat-label>
                                                    <input matInput type="text" id="txtPrimerNombre"
                                                        formControlName="txtPrimerNombre">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtPrimerNombre')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba el primer <strong> Nombre </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Segundo Nombre </mat-label>
                                                    <input matInput type="text" id="txtSegundoNombre"
                                                        formControlName="txtSegundoNombre">
                                                    <mat-error *ngIf="val.ValForm.get('txtSegundoNombre')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba el segundo <strong> Nombre </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Primer Apellido </mat-label>
                                                    <input matInput type="text" id="txtPrimerApellido" 
                                                    formControlName="txtPrimerApellido">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtPrimerApellido')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba el primer <strong> Apellido </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Segundo Apellido </mat-label>
                                                    <input matInput type="text" id="txtSegundoApellido"
                                                    formControlName="txtSegundoApellido">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtSegundoApellido')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba el segundo <strong> Apellido </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                <igx-combo #txtMunicipio  valueKey="IdLugarNac"
                                                    displayKey="Municipio" groupKey="Departamento" id="txtMunicipio" formControlName="txtMunicipio"
                                                    placeholder="Lugar de Nacimiento"
                                                    searchPlaceholder="Seleccione una Ciudad"
                                                     [itemsMaxHeight]="250" (selectionChanging)="seleccion_Ciudad($event)"
                                                     (keyup)="f_key_Enter_Ciudad($event)">                                                    
                                                </igx-combo>

                                                
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Fecha de Nacimiento</mat-label>
                                                    <input matInput [matDatepicker]="pickerNacimiento"
                                                        id="txtFechaNacimiento" formControlName="txtFechaNacimiento"  (ngModelChange)="CalcularEdad($event)">
                                                    <mat-datepicker-toggle matSuffix [for]="pickerNacimiento">
                                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #pickerNacimiento></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Edad</mat-label>
                                                    <input matInput type="text" id="txtEdad" formControlName="txtEdad">                                                    
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>No de Cédula </mat-label>
                                                    <input matInput type="text" id="txtCedula" formControlName="txtCedula">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtCedula')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su número de <strong> Cedula </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Especialidad </mat-label>
                                                    <input matInput type="text" id="txtEspecialidad" formControlName="txtEspecialidad">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtEspecialidad')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba la <strong> Especialidad Médica </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                                <mat-form-field>
                                                    <mat-label>Dirección</mat-label>
                                                    <input matInput type="text" id="txtDireccion" formControlName="txtDireccion">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtDireccion')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su <strong> Dirección </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Correo electrónico</mat-label>
                                                    <input matInput type="text" id="txtCorreo" formControlName="txtCorreo">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtCorreo')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su <strong> Correo Electrónico </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Teléfono</mat-label>
                                                    <input matInput type="text" id="txtTelefono" formControlName="txtTelefono">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtTelefono')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su <strong> Teléfono </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                                                <mat-form-field>
                                                    <mat-label>Celular</mat-label>
                                                    <input matInput type="text" id="txtCelular" formControlName="txtCelular">
                                                    <mat-error
                                                        *ngIf="val.ValForm.get('txtCelular')?.errors?.['Regla']=='1'"
                                                        style="color:black">Escriba su <strong> Celular </strong>
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            
                                        </div>

                                    </mat-card-content>

                                </mat-card>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>
</div>