#frmPaciente{
    width: 1000px;

}

#ej{
border: 1px solid red;
border-left: 0;
border-right: 0;
padding-top: 10px;
padding-bottom: 10px;
}

#ac{
border: 1px solid red;
border-left: 0;
border-right: 0;
padding-top: 10px;
padding-bottom: 10px; 
}

.acSolo{
padding-right: 20px;
}

.acHijo{
padding-right: 20px;
}

.acNietos{
padding-right: 20px;    
}

.acEsposos{
padding-right: 20px;
}

.acHermanos{
padding-right: 20px;    
}
.referencia-section {
   margin: 12px 0;
}
  
.referencia-margin {
    margin: 0 12px;
  }
  
ul {
    list-style-type: none;
    margin-top: 4px;
  }
