#frmPaciente{
    width: 1000px;

}

#ej{
border: 1px solid red;
border-left: 0;
border-right: 0;
padding-top: 10px;
padding-bottom: 10px;
}

#ac{
border: 1px solid red;
border-left: 0;
border-right: 0;
padding-top: 10px;
padding-bottom: 10px; 
}
