<div class="row">
      
    <div class="row">

        <div class="contenedor-filtro linea-bottom-primario">
            <div class="row">
                <p>REPORTE</p>
            </div>
            
            <form autocomplete="off" [formGroup]="val.ValForm">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4 mb-1">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-list fa-lg"></i></span>
                            <div class="form-floating">
                                <select class="form-select form-select-lg" aria-label="Reporte" (change)="v_Reporte()"
                                id="cmbReporte" formControlName="cmbReporte">
                                    <option value="1">Expediente</option>
                                    <option value="2">Reporte de Paciente</option>
                                    <option value="3">Reporte de Acompañantes</option>
                                    <option value="4">Atencion Por Especialidad</option>
                                </select>
                                <label for="cmbReporte">Reporte</label>
                            </div>
                            <span class="input-group-text"> 
                                <button type="button" class="btn btn-refescar" id="btn-reporte"
                                     (click)="v_Imprimir();"><i
                                        class="fa-solid fa-print fa-beat-fade fa-lg"></i></button>
                                    </span>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-8">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6 mb-1">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                    <div class="form-floating">
                                        <input type="date" id="txtFecha1" class="form-control" max="9999-12-31"
                                            placeholder="Fecha Inicio" aria-label="Fecha Final"
                                            formControlName="txtFecha1">
                                        <label for="txtFecha1">Desde</label>

                                    </div>

                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6 px-1 mb-1">
                                <div class="input-group">

                                    <div class="form-floating">
                                        <input type="date" id="txtFecha2" class="form-control" max="9999-12-31"
                                            placeholder="Fecha Final" aria-label="Fecha Final"
                                            formControlName="txtFecha2">
                                        <label for="txtFecha2">Hasta</label>

                                    </div>

                                </div>
                            </div>

                            <div class="col-12">
                                <igx-combo #cmbExpediente [data]="lstPaciente" valueKey="NoExpediente"
                                    displayKey="NombreCompleto" id="cmbCuentaBancaria" formControlName="cmbCuentaBancaria"
                                    placeholder="Expediente" searchPlaceholder="Seleccione un expediente" [autoFocusSearch]="true"
                                    [overlaySettings]="overlaySettings" (selectionChanging)="v_Select_Expediente($event)"
                                    (keyup)="v_Enter_Expediente($event);">
                                    <label igxLabel>Paciente</label>
                                    <igx-prefix><i class="fas fa-list fa-lg"></i></igx-prefix>
                                </igx-combo>
                            </div>
                        </div>

                    </div>


                   


                </div>
            </form>
          
        </div>
      
    </div>

</div>