.contenedor-filtro{
    text-align: center;
    z-index: 1;
    background-color: var(--escan-fondo);
   
   p{
   
    font-weight: bold;
    font-size: 1.5em;
   }

   button:first-child{
    width: 100%;
   }
   button:last-child{
    margin-left: 10px;
   }

  

}




.combo-header, .combo-footer {
    text-align: center;
    padding: 4px;
}

.header-etiqueta{
    color: black;
}

.header-etiqueta,
.header-valor{
    font-size: 1.5em;
}


.header-valor{
    color: var(--faden-morado);
    font-weight: bold;
}

.combo-item {
    margin-bottom: 1px dashed red;
    min-width: 100%;
}


.combo-item-contenedor{
    width: 100%;
}




  
  
  

  