<div >
    <div id="frmHistoriamedica">
        
        <form class="formulario">
            <div class="row col-12 no-padding-margin">

                <div class="row col-12 no-padding-margin">
                    <div class="col-12 btnAccion">
                        <button mat-fab class="btn-faden-aceptar"><mat-icon>save</mat-icon></button>
                        <button mat-fab class="btn-faden-cancelar"><mat-icon>undo</mat-icon></button>
                        <div class="line-vertical"></div>
                        <button mat-fab class="btn-faden-salir"><mat-icon>exit_to_app</mat-icon></button>
                    </div>


                    <div class="col-12">
                        <mat-card class="mat-card">
                            <mat-card-header>
                                <mat-card-title class="mat-card-title">Historia Médica y Clínica</mat-card-title>
                            </mat-card-header>

                            <mat-card-content >
                        
                                <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
                                    <mat-step>
                                        <ng-template matStepLabel>Historia Médica y Clínica</ng-template>
                                        <div class="col-12 no-padding-margin">
                                            <mat-form-field class="col-lg-6 text-area-medica-clinica" >
                                                <mat-label>Familiar</mat-label>
                                                <textarea matInput></textarea>
                                            </mat-form-field>
                
                                            <mat-form-field class="col-lg-6 text-area-medica-clinica">
                                                <mat-label>Social</mat-label>
                                                <textarea matInput></textarea>
                                            </mat-form-field>
            
                                        </div>
                                        <div>
                                          <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>Tratamiento Actual</ng-template>
                                        <app-tratamiento-actual></app-tratamiento-actual>
                                        <div>
                                          <button mat-button matStepperPrevious>Atras</button>
                                          <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Exámenes clínicos y marcadores biológicos más relevantes, estudio de neuroimagen</ng-template>
                                        <app-examen-clinico></app-examen-clinico>
                                        <div>
                                          <button mat-button matStepperPrevious>Atras</button>
                                          <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Antecedentes Patológicos</ng-template>
                                        <app-antecedente-patologico></app-antecedente-patologico>
                                        <div>
                                          <button mat-button matStepperPrevious>Atras</button>
                                          <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Antecedentes Quirúrgicos</ng-template>
                                        <app-antecedente-quirurgico></app-antecedente-quirurgico>
                                         
                                          <div>
                                            <button mat-button matStepperPrevious>Atras</button>
                                            <button mat-button matStepperNext>Siguiente</button>
                                          </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Antecedentes Familiares más relevantes</ng-template>
                                         <app-antecedentes-familiares></app-antecedentes-familiares>
                                        <div>
                                          <button mat-button matStepperPrevious>Atras</button>
                                          <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Antecedentes familiares Neurológicos y Psiquiátricos</ng-template>
                                          <app-antecedente-neuropsiquiatrico></app-antecedente-neuropsiquiatrico>
                                          <div>
                                            <button mat-button matStepperPrevious>Atras</button>
                                            <button mat-button matStepperNext>Siguiente</button>
                                          </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Práctica de estilo de vida saludable</ng-template>
                                   
                                        <div>
                                          <button mat-button matStepperPrevious>Atras</button>
                                          <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Examen Físico por sistemas</ng-template>
                                          
                                          <div>
                                            <button mat-button matStepperPrevious>Atras</button>
                                            <button mat-button matStepperNext>Siguiente</button>
                                          </div>
                                    </mat-step>
            
                                    <mat-step>
                                        <ng-template matStepLabel>Análisis y diagnóstico de presunción</ng-template>
                                  
                                        <div>
                                          <button mat-button matStepperPrevious>Atras</button>
                                          <button mat-button matStepperNext>Siguiente</button>
                                        </div>
                                    </mat-step>
                                  </mat-stepper>
            
                

                            </mat-card-content>
                        </mat-card>
                    </div>
                  

                </div>

            </div>

        </form>

    </div>
</div>
