
<mat-tab-group>
  <mat-tab label="Historia Médica y Clínica">

    <div class="row">

      <form [formGroup]="val.ValForm" novalidate autocomplete="off">
        <mat-form-field class="col-12 col-sm-6 col-md-6 col-lg-6 text-area-medica-clinica">

          <mat-label><b>Familiar</b></mat-label>
          <textarea matInput rows="10" type="text" id="txtFamiliar"
            formControlName="txtFamiliar"></textarea>
          <mat-error *ngIf="val.ValForm.get('txtFamiliar')?.errors?.['Regla']=='1'"
            style="color:black">Describa la
            <strong>
              Historia Familiar
            </strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="col-12 col-sm-6 col-md-6 col-lg-6 text-area-medica-clinica">
  
          <mat-label><b>Social</b></mat-label>
          <textarea matInput rows="10" type="text" id="txtSocial"
            formControlName="txtSocial"></textarea>
          <mat-error *ngIf="val.ValForm.get('txtSocial')?.errors?.['Regla']=='1'"
            style="color:black">Describa la <strong>
              Historia Social
            </strong>
          </mat-error>
        </mat-form-field>
      </form>
   
    </div>

    
    <div class="row" id="contenedor-Historia-medica">
      <div class="contenedor">
        <button class="btn btn-primario" (click)="Guardar();" id="btn-guardar-historiamedica">Guardar</button>
      </div>
    
  </div>


  </mat-tab>
  <mat-tab label="Tratamiento Actual">

    <div class="row"><app-tratamiento-actual></app-tratamiento-actual></div>

  </mat-tab>
  <mat-tab label="Exámenes clínicos y marcadores biológicos más relevantes, estudio de
  neuroimagen">
    <div class="row"><app-examen-clinico></app-examen-clinico></div>
  </mat-tab>

  <mat-tab label="Antecedentes Patológicos">
    <div class="row"><app-antecedente-patologico></app-antecedente-patologico></div>
  </mat-tab>


  <mat-tab label="Antecedentes Quirúrgicos">
    <div class="row"><app-antecedente-quirurgico></app-antecedente-quirurgico></div>
  </mat-tab>


  <mat-tab label="Antecedentes Familiares más relevantes">
    <div class="row"><app-antecedentes-familiares></app-antecedentes-familiares></div>
  </mat-tab>


  <mat-tab label="Práctica de estilo de vida saludable">
    <div class="row"><app-estilo-vida></app-estilo-vida></div>
  </mat-tab>


  <mat-tab label="Examen Físico por sistemas">
    <div class="row"><app-examen-fisico></app-examen-fisico></div>
  </mat-tab>


  <mat-tab label="Análisis y diagnóstico de presunción">
    <div class="row"><app-analisis-presuncion></app-analisis-presuncion></div>
  </mat-tab>





</mat-tab-group>
