.formulario{
    margin-top: 0;
}

.no-padding{
  padding-left: 15px;
}


#frmProforma{
    min-width: var(--escan-min-width); 
}



.escan-tabla{
    margin-top: 10px;
}

mat-form-field{
  .mat-form-field{
    padding-left: 70px;
  }
}



$breakpoints: (
  sm : 360px,

  md : 450px,

  lg : 768px,

  xl : 1024px

);

@mixin Tamano($points) {
  @media screen and (min-width: map-get($breakpoints, $points)) {
    @content;
  }
}

.mat-column{

  font-weight: bold;

  @include Tamano(sm)
  {
    &-Codigo{
      min-width: 75px;
      max-width: 75px;
    }

    &-Producto{
      min-width: 16px;
      max-width: 160px;
    }

    &-Cantidad{
      min-width: 85px;
      max-width: 85px;
    }

    &-Bonif{
      min-width: 40px;
      max-width: 40px;
    }

    
    
  }


  @include Tamano(md){

    &-Codigo,
    &-Cantidad{
      min-width: 150px;
      max-width: 150px;
    }
  
    &-Producto{
      min-width: 350px;
      max-width: 350px;
    }

    &-Bonif{
      min-width: 80px;
      max-width: 80px;
    }


  }

  &-Producto{
    
    &:not(.mat-header-cell){

      text-align: justify;
      margin-bottom: 0;
      &:after {
        content: "";
        display: inline-block;
      }
    }


  }


  &-Cantidad{
    text-align: end;
  }

  
  &-Bonif{
    text-align: center;
  }
  
}


.mat-header{
  
  &-cell{
    &-detail{

      @include Tamano(sm){
        width: 90px;
      }

      @include Tamano(md){
        width: 182.5px;
      }
      
    }
   
  }

}


.mat-cell{

  @include Tamano(sm){
    font-size: 0.8em;
  }


  @include Tamano(md){
    font-size: 1em;
  }
  

  &-detail{
    text-align: end;
    font-weight: bold;
  }

  mat-form-field{
    .mat-form-field{
      

      &-wrapper,
      &-cript-wrapper{
        padding-bottom: 0;
        margin-top: 0;
      }

      &-infix{
        padding: 0px;
        margin: 0px;
        text-align: end;
      }

      
    }


    
  }


}


.input-tabla 
{
  width: 80%;
  input{
    text-align: end;
    margin-left: 0px;
    margin-right: 0px;
  }

  .mat-input-element{
    color: black;
    font-weight: bold;

    &:disabled{
      color: var(--escan-verde);
    }
  }

}
 


.scaled {
    transform: scale(0.7); 
    transform: scaleY(0.7);
  
}
