<div class="app-usuario">
    <div class="faden-mat-form">
        <div class="faden-contenedor">

            <div id="frmUsuario">
                <form class="formulario" [formGroup]="val.ValForm" novalidate autocomplete="off">
                    <div class="row">
                        <div class="row">
                            <div class="col-12 btnAccion">
                                <div class="btn-contenedor">
                                    <button mat-fab class="btn-faden-aceptar">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button mat-fab class="btn-faden-cancelar">
                                        <mat-icon>undo</mat-icon>
                                    </button>
                                    <div class="line-vertical"></div>
                                    <button mat-fab class="btn-faden-salir" (click)="Cerrar();">
                                        <mat-icon>exit_to_app</mat-icon>
                                    </button>

                                </div>

                            </div>

                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">
                            <mat-card class="mat-card">

                                <mat-card-header>
                                    <mat-card-title class="mat-card-title">Datos del Usuario</mat-card-title>
                                </mat-card-header>

                                <mat-card-content class="row col-12 no-padding-margin">

                                    <div class="col-12">
                                        <!--<div class="combo-section">
                                            <igx-combo class="combo" #withValueKey [data]="cities" valueKey="id" displayKey="name" groupKey="name"
                                            placeholder="Role(s)" searchPlaceholder="Buscar...">
                                            </igx-combo>
                     
                                        </div>-->

                                        <div>
                                            <igx-combo _ngcontent-pmm-5 class="combo" #withValueKey [data]="lstRoles"
                                                valueKey="IdRol" displayKey="Rol1" id="txtRol" formControlName="txtRol"
                                                placeholder="Rol" searchPlaceholder="Seleccione un Rol..."
                                                (selectionChanging)="singleSelection($event)" [itemsMaxHeight]="250"
                                                appAutofocus>
                                            </igx-combo>

                                            <!--<igx-combo #withValueKey [data]="cities" valueKey="id" displayKey="name" groupKey="name">
                                                <ng-template   let-display let-key="valueKey">
                                                    <div class="item2">
                                                        <span class="state">State: {{ display[key] }}</span>
                                                        <span class="region">Region: {{ display.name }}</span>
                                                    </div>
                                                </ng-template>
            
                                                
                                            </igx-combo>-->

                                        </div>



                                    </div>

                                    <mat-form-field _ngcontent-pmm-5 class="col-12">
                                        <mat-label>Nombres</mat-label>
                                        <input matInput type="text" id="txtNombre" formControlName="txtNombre">
                                        <mat-error *ngIf="val.ValForm.get('txtNombre')?.errors?.['Regla']=='1'">Nombres
                                            es <strong>requerido</strong></mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="col-12">
                                        <mat-label>Apellidos</mat-label>
                                        <input matInput type="text" id="txtApellido" formControlName="txtApellido">
                                        <mat-error *ngIf="val.ValForm.get('txtApellido')?.errors?.['Regla']=='1'">
                                            Apellidos es <strong>requerido</strong></mat-error>
                                    </mat-form-field>

                                </mat-card-content>

                            </mat-card>
                        </div>


                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6">
                            <mat-card class="mat-card">

                                <mat-card-header>
                                    <mat-card-title class="mat-card-title">Acceso Sistema</mat-card-title>
                                </mat-card-header>


                                <mat-card-content class="row col-12 no-padding-margin">
                                    <mat-form-field class="col-12">
                                        <mat-label>Usuario.</mat-label>
                                        <input matInput type="text" id="txtLogin" formControlName="txtLogin">
                                        <mat-icon matPrefix>person</mat-icon>
                                        <mat-error *ngIf="val.ValForm.get('txtLogin')?.errors?.['Regla']=='1'">Usuario
                                            es <strong>requerido</strong></mat-error>
                                        <mat-error *ngIf="val.ValForm.get('txtLogin')?.errors?.['Regla']=='2'">Debe de
                                            contener al menos <strong>{{val.C("txtLogin", "2")}}</strong> cáracteres
                                        </mat-error>
                                    </mat-form-field>


                                    <mat-form-field class="col-12">
                                        <mat-label>Contraseña.</mat-label>
                                        <input matInput [type]="bol_HidePass ? 'password' : 'text'" id="txtPass"
                                            formControlName="txtPass" placeholder="Contraseña">
                                        <mat-icon matSuffix (click)="bol_HidePass = !bol_HidePass">{{bol_HidePass ?
                                            'visibility_off' : 'visibility'}}</mat-icon>
                                        <mat-icon matPrefix>lock</mat-icon>
                                        <mat-error *ngIf="val.ValForm.get('txtPass')?.errors?.['Regla']=='1'">Contraseña
                                            es <strong>requerido</strong></mat-error>
                                        <mat-error *ngIf="val.ValForm.get('txtPass')?.errors?.['Regla']=='2'">Debe de
                                            contener al menos <strong>{{val.C("txtPass", "2")}}</strong> cáracteres
                                        </mat-error>
                                    </mat-form-field>

                            

                                </mat-card-content>


                            </mat-card>

                        </div>

                        <div class="col-12">
                            <div class="checkbox mb-3">
                                <mat-checkbox color="primary" formControlName="chkInactivo" (click)="Inactivo()">
                                    <b>Inactivo</b>
                                </mat-checkbox>
                            </div>
                        </div>





                    </div>

                </form>
            </div>


        </div>

    </div>

</div>