<div class="app-antecedente-quirurgico">
    <div class="row" id="contenedor-agregar-quirurgico">
        <button class="btn btn-primario" (click)="f_Agregar_Fila();">Agregar</button>
    </div>
    
    <div class="faden-tabla">
        <div class="mat-elevation-z8">
                        
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSort($event)">
          

                <ng-container matColumnDef="col1">
                    <td mat-cell *matCellDef="let det">

                        <div class="row">
                            <div class="col-6">
                                <span> <b>Lugar de Realización:</b>{{det.Lugar}}</span>
                            </div>
                            <div class="col-6 fecha">
                                <span> <b>Fecha:</b>{{det.Fecha | date: 'dd/MM/yyyy'}}</span>
                            </div>
                            
                        </div>


                        <div class="row Descripcion">
                            <span> <b>Descripción:</b>{{det.Descripcion}}</span>
                        </div>

                        <div class="row">
                            <div class="contenedor-edicion">
                                <button type="button" class="btn" (click)="v_Editar(det)"><i
                                        class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                                </button>
    
                                <button type="button" class="btn" (click)="v_Eliminar(det)"><i
                                    class="bi bi-trash3 fa-beat-fade fa-lg"></i>
                            </button>
                            </div>
                        </div>
                    </td>
                </ng-container>

     
                
       

        
         
                <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                
            </table>
        
            <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons> </mat-paginator>
        
        </div>
    </div>
   
    
</div>

