.app-municipio {
   

    .faden-mat-form #frmMunicipio {
        max-width: 600px;
    }

    
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;


}
