<div class="faden-contenedor">

    <div id="frmMunicipio">

        <form class="formulario">

            <div class="row col-12 no-padding-margin">

                <div class="col-12 btnAccion">
                    <button mat-fab class="btn-faden-buscar" ><mat-icon>search</mat-icon></button>
                    <div class="line-vertical"></div>
                    <button mat-fab class="btn-faden-aceptar"><mat-icon>save</mat-icon></button>
                    <button mat-fab class="btn-faden-cancelar"><mat-icon>undo</mat-icon></button>
                    <div class="line-vertical"></div>
                    <button mat-fab class="btn-faden-salir" (click)="Cerrar();"><mat-icon>exit_to_app</mat-icon></button>

                   

                </div>


            </div>

       </form>
</div>
 
</div>
