
<div class="faden-dialog">


<div class="fixed">
    <div class="btn-contenedor">
        <button class="close-button custom-cerrar" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
    </div>
    <div class="row mb-3">

        <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>

            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Buscar"
                aria-label="Buscar"  (keyup)="v_Filtrar($event);" autocomplete="off">
            <label for="Buscar">Buscar</label>
            
            </div>

        </div>
    </div>
</div>
   

    <div  mat-dialog-content class="contenido-tabla">
        <table class="table table-hover table-bordered table-sm">
              
            <tr class="row mb-3 linea" *ngFor="let det of lstFilter">
                <td class="col-12">

                    <div class="row g-1 mb-2 header-table-doc">

                        <div class="col-4">
                            <div class="aling-block center">
                                <span><b>No Expediente</b></span>
                                <span>{{det.NoExpediente}}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Fecha</b></span>
                                    <span>{{det.FechaIngreso | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Identificacion</b></span>
                                    <span>{{det.Identificacion}}</span>
                                </div>
                            </div>
                        </div>



                    </div>

                    
                    <div class="row g-1 mb-2">
                        <div class="col-6">
                            <div class="aling-block center">
                                <span><b>Paciente</b></span>
                                <span>{{det.NombreCompleto}}</span>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="aling-block center">
                                <span><b>Sexo</b></span>
                                <span>{{det.Sexo == "F" ? "Mujer" : "Hombre"}}</span>
                            </div>

                        </div>
                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="aling-block">
                                <span><b>Correo</b></span>
                                <span>{{det.Correo}}</span>
                            </div>

                        </div>

                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="aling-block right">
                                <span><b>Contacto</b></span>
                                <span>{{det.Telefono }}   || {{det.Celular }}</span>
                            </div>

                        </div>
                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-12">
                            <div class="aling-block">
                                <span><b>Direccion</b></span>
                                <span>{{det.Direccion}}</span>
                            </div>

                        </div>

                    </div>
          
                    <div class="row">
                        <span class="input-group-text btn-contenedor">
                            <button type="button" class="btn"
                            (click)="v_Seleccionar(det)"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                            </button>
                        </span>

                    </div>

                </td>



            </tr>
        </table>
    </div>
    
</div>








