:root{
  --faden-morado:  #572364;
  --faden-amarillo: #ddcf0a;
  --faden-fondo: white;
  --faden-fondo-secundario: #d5d0ca;

  --faden-border-size: 3px;
  --faden-min--width: calc(360px - var(--faden-border-size)) ;
  --faden-font--size: 1em;

  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

  }


    
  /***************************************************************************************************************/
  
  
  /**************************************************************************************************
                                          COMBO BOX
  **************************************************************************************************/
  


  [class^=igx-] {
  
    --box-background : var(--faden-fondo);
    
    
      igx-combo-item{

        padding-left: 20px;
        padding-right: 20px;

       /* &.igx-drop-down__item--selected.igx-drop-down__item--focused{
          background-color: var(--faden-amarillo);
          color: var(--faden-fondo);
        }*/
        --selected-hover-item-background: var(--faden-morado);
        --selected-item-background: var(--faden-morado);
        --selected-focus-item-background :var(--faden-morado);
        --focused-item-background : var(--faden-morado);
        --igx-drop-down-focused-item-text-color : var(--faden-fondo);
        --focused-item-text-color : var(--faden-fondo);
        --selected-focus-item-text-color : var(--faden-fondo);
      }
  
      igx-input-group{
        --focused-secondary-color: var(--faden-morado) !important;
        --success-secondary-color: var(--faden-morado)  !important;
        --error-secondary-color: var(--faden-morado) !important;
      }
  
      
      igx-checkbox {
        --fill-color: var(--faden-morado);
      }


  
    }




    
}



  /* You can add global styles to this file, and also import other style files */
  html{
    min-height:100%;
    position:relative;
    box-sizing: border-box;
    }
    

    body{
    height:100%; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: default;
    box-sizing: border-box;
    }
    

    html, body {
      min-width: var(--faden-min--width); 
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      background: url("~src/assets/images/fondo.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-size: var(--faden-font--size);
    }


*, *::before, *::after{
  box-sizing: inherit;
}

.no-padding-margin{
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}


.faden-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
 // min-width: var(--faden-min--width);
}



*{
  

  /**************************************************************************************************
                                          
  **************************************************************************************************/

  .igx{

    &-typography{

      & h1,
      & h2,
      & h3{
        line-height: 1.2em;
      }
    }
  }



  .mat-icon{
    transform: scale(1.3);
  }
  
  .ng-untouched  .mat-icon:no-button{
    color: black;
  }
  

  .mat-form-field.mat-focused {
    .mat-form-field-ripple {
      background-color: var(--faden-morado); 
    }
  }

  
  .mat-error
  {
    color: var(--faden-amarillo);
  }
  
  .mat-form-field-invalid{
    .mat-icon{
      border-color: var(--faden-morado);
    }

    
  }
  

  .ng-valid{
    .mat-form-field{
      &-prefix,
      &-suffix{
        .mat-icon{
          color: var(--faden-amarillo);
        }
      }
      
    }
  }

  

  
  
  .faden-text{
      font-style: italic;
      font-family: 'SavingsBond';
  }
  

 
  
  
mat-label {
  color: black;
  font-size: var(--faden-font--size);
}


  
  
  
  
 
  

}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';






//████████████████████████████████████████████BOTONES██████████████████████████████████████████████████████████████████████

button{
  transition: all 0.2s ease;;
}
button:active{
  transform: scale(0.96);
}

.btn-primario {
  background-color: var(--faden-morado);
  color: var(--faden-fondo);
  i{
    color: var(--faden-fondo);
  }
}

.btn-primario:hover {
  background-color: var(--faden-morado);
  color: var(--faden-fondo);
  box-shadow: 0px 5px 10px 0px var(--faden-morado-sombra);
}

.btn-secundario {
  background-color: var(--faden-amarillo);
  color: var(--faden-fondo);

  i{
    color: var(--faden-fondo);
  }
  
}

.btn-secundario:hover {
  background-color: var(--faden-amarillo);
  color: var(--faden-fondo);
  box-shadow: 0px 5px 10px 0px var(--faden-amarillo-sombra);
}







//████████████████████████████████████████████DIALOG ERROR██████████████████████████████████████████████████████████████████████

.error-etiqueta{
  font-weight: bold;
  color: black;
}

.error-mensaje{
  font-weight: normal;

  text-align: justify;
  text-justify: inter-word;
}

.error{
  font-weight: normal;

  text-align: justify;
  text-justify: inter-word;
  font-weight: bold;
  color: black;
}



//████████████████████████████████████████████SIMBOLO VALIDACION██████████████████████████████████████████████████████████████████████


.contenedor-info-validacion{
  position: relative;
}

.info-validacion{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}



//████████████████████████████████████████████DIALOG██████████████████████████████████████████████████████████████████████
.mat-dialog-container
{
  padding: 2px !important;
}
.faden-dialog-full,
.faden-dialog-full-blur {
  max-width: 100% !important;
  max-height: 100% !important;
  min-width: var(--min-width);
  width: 100%;
  height: 100%;

 
}


.faden-dialog-full-blur {
  filter: blur(1px);
  background-color: transparent;
  opacity: 0.7 !important;
}


.faden-dialog {
  
  h1 {
    text-align: center;
  }

  .custom-cerrar {
    border: 0;
    background-color: transparent;
    z-index: 3;

    .close-icon {
      font-size: 1.8em;
    }

    .close-icon:hover {
      font-size: 2em;
    }
  }

  .btn-contenedor {
    display: flex;
    justify-content: flex-end;
  }

  th {
    text-align: center;
  }

  .aling-number {
    text-align: right;
  }
}
