@import "/src/assets/css/media.scss";

.contenedor-tabla{
    margin-bottom: 50px;
    min-width: 100%;
    background-color: var(faden-fondo);
}


.table-container {
    width: fit-content;
    position: relative;

  }


.contenedor-filtro{
    text-align: center;
    z-index: 1;
    background-color: var(--escan-fondo);
   
   p{
   
    font-weight: bold;
    font-size: 1.5em;
   }

   button:first-child{
    width: 100%;
   }
   button:last-child{
    margin-left: 10px;
   }

  

}



table, .tabla-layout{
    table-layout: fixed;
    width: 100%
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
  
tr
{

    background-color: var(--escan-fondo);

    td:first-child{

        span{
            display: block;
        }

       
        span:last-child{
            margin-left: 30px;

         
        }

    
    }
    
    b{
        margin-right: 5px;
    }

   
}


tr:hover,
td:hover{
    background-color: rgba(86, 164, 59, 0.30);
    font-weight: bold;
}


.bottom-secundario{
    border-style:dashed;
}


.contenedor-edicion{
    display: flex;
    justify-content: right;
}


.dashed{
    border-style: dashed;
}

.right{
    text-align: right;
}




.ref{
    margin-left: 15px;
    overflow-wrap: break-word;
}


.lg
{
    display: initial;

    @include Tamano_Menor(lg) {
        display: none;
    }
}

.md{

    display: none;

    @include Tamano_Menor(lg) {
        display: initial;
    }

}