<div class="app-soap">
    <div class="faden-mat-form">
        <div class="faden-contener">
            <div id="frmSoap">

                <form class="formulario" [formGroup]="val.ValForm" novalidate autocomplete="off">
                    <div class="row">

                        <div class="row">
                            <div class=" col-12 btnAccion">
                                <div class="btn-contenedor">
                                    <button mat-fab class="btn-faden-aceptar">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                    <button mat-fab class="btn-faden-cancelar">
                                        <mat-icon>undo</mat-icon>
                                    </button>
                                    <div class="line-vertical"></div>
                                    <button mat-fab class="btn-faden-salir" (click)="Cerrar();">
                                        <mat-icon>exit_to_app</mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <mat-card class="mat-card">
                                    <mat-card-header>
                                        <mat-card-title class="mat-card-title">SOAP: Notas de seguimiento y evolución
                                        </mat-card-title>
                                    </mat-card-header>

                                    <mat-card-content>
                                        <div class="row">
                                            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Fecha</mat-label>
                                                    <input matInput [matDatepicker]="picker" id="txtFecha" formControlName="txtFecha">
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                                    </mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                    <mat-error
                                                            *ngIf="val.ValForm.get('txtFecha')?.errors?.['Regla']=='1'"
                                                            style="color:black">Seleccione una<strong> Fecha </strong>
                                                        </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div
                                                class="col-6 col-sm-3 col-md-2 col-lg-2 offset-sm-6 offset-md-8 offset-lg-8">
                                                <mat-form-field appearance="legacy">
                                                    <mat-label>Hora</mat-label>
                                                    <input matInput type="text" id="txtHora" formControlName="txtHora">
                                                        <mat-error *ngIf="val.ValForm.get('txtHora')?.errors?.['Regla']=='1'" style="color:black">Ingrese
                                                            la<strong>Hora</strong>de atención
                                                        </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row border-paciente">

                                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                                <igx-combo #txtPaciente _ngcontent-pmm-5 
                                                     [data]="lstPaciente" valueKey="IdPaciente"
                                                    displayKey="NombreCompleto" id="txtPaciente"   formControlName="txtPaciente" placeholder="Paciente"
                                                    searchPlaceholder="Seleccione un Paciente"
                                                    (selectionChanging)="singleSelection($event)" [itemsMaxHeight]="250"
                                                    appAutofocus>
                                                </igx-combo>
                                            </div>

                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 ">
                                                <mat-form-field >
                                                    <mat-label>No de Expediente </mat-label>
                                                    <input matInput type="text" id="txtNoExpediente" formControlName="txtNoExpediente">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 ">
                                                <mat-form-field >
                                                    <mat-label>Edad </mat-label>
                                                    <input matInput type="text" id="txtEdad" formControlName="txtEdad">
                                                </mat-form-field>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <label class="col-12"><b>Sobre el acompañante: </b></label>
                                                <mat-radio-group aria-label="Seleccione tipo"  formControlName="rdTipoAcompanante">
                                                    <mat-radio-button value="1">Acompañante</mat-radio-button>
                                                    <mat-radio-button value="2">Cuidador</mat-radio-button>
                                                </mat-radio-group>

                                            </div>
                                        </div>

                                        <div class="row border-paciente">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                                                <mat-form-field >
                                                    <mat-label>Nombre</mat-label>
                                                    <input matInput type="text" id="txtNombrecuidador" formControlName="txtNombrecuidador">
                                                </mat-form-field>
                                            </div>                                            

                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <mat-form-field >
                                                    <mat-label>Dirección </mat-label>
                                                    <input matInput type="text" id="txtDireccion" formControlName="txtDireccion">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <mat-form-field >
                                                    <mat-label>Teléfono</mat-label>
                                                    <input matInput type="text" id="txtTelefono" formControlName="txtTelefono">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row border-paciente">
                                            <div class="col-12">
                                                <label class="col-12"><b>Propósito de la visita:</b></label>
                                                <mat-radio-group aria-label="Seleccione visita" formControlName="rdPropositoVisita"
                                                    class="col-6 col-sm-4 col-md-4 col-lg-4">
                                                    <mat-radio-button value="1"
                                                        class="col-6 col-sm-4 col-md-2 col-lg-2">Cita
                                                    </mat-radio-button>
                                                    <mat-radio-button value="2"
                                                        class="col-6 col-sm-4 col-md-2 col-lg-2">Control
                                                    </mat-radio-button>
                                                    <mat-radio-button value="3"
                                                        class="col-6 col-sm-4 col-md-2 col-lg-2">
                                                        Seguimiento</mat-radio-button>
                                                    <mat-radio-button value="4"
                                                        class="col-6 col-sm-4 col-md-2 col-lg-2">
                                                        Urgencia</mat-radio-button>
                                                    <mat-radio-button value="5"
                                                        class="col-6 col-sm-4 col-md-2 col-lg-2">
                                                        Emergencia</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>


                                        <div class="row ">
                                            <mat-form-field class="col-12 col-sm-12 col-md-12 col-lg-12 text-area-soap">
                                                <mat-label>Subjetivo</mat-label>
                                                <textarea matInput type="text" id="txtSubjetivo" formControlName="txtSubjetivo"></textarea>
                                                <mat-error *ngIf="val.ValForm.get('txtSubjetivo')?.errors?.['Regla']=='1'" style="color:black">Describa el sistema<strong>
                                                        Subjetivo </strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="row ">
                                            <mat-form-field class="col-12 col-sm-12 col-md-12 col-lg-12 text-area-soap">
                                                <mat-label>Objetivo</mat-label>
                                                <textarea matInput type="text" id="txtObjetivo" formControlName="txtObjetivo"></textarea>
                                                <mat-error *ngIf="val.ValForm.get('txtObjetivo')?.errors?.['Regla']=='1'" style="color:black">Describa el sistema
                                                    <strong>Objetivo </strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="row">
                                            <mat-form-field class="col-12 col-sm-12 col-md-12 col-lg-12 text-area-soap">
                                                <mat-label>Avalúo</mat-label>
                                                <textarea matInput type="text" id="txtAvaluo" formControlName="txtAvaluo"></textarea>
                                                <mat-error *ngIf="val.ValForm.get('txtAvaluo')?.errors?.['Regla']=='1'" style="color:black">Describa el sistema
                                                    <strong>Objetivo </strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <div class="row">
                                            <mat-form-field
                                                class="col-12 col-sm-12  col-md-12 col-lg-12 text-area-soap">
                                                <mat-label>Planes</mat-label>
                                                <textarea matInput type="text" id="txtPlanes" formControlName="txtPlanes"></textarea>
                                                <mat-error *ngIf="val.ValForm.get('txtPlanes')?.errors?.['Regla']=='1'" style="color:black">Describa el sistema
                                                    <strong>Planes </strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                    </mat-card-content>

                                </mat-card>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>